name: Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  repository_dispatch:
    types: [ semantic-release ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write
  issues: write
  pull-requests: write
jobs:
  installtest:
    name: installtest
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    env:
      HUSKY: 0
      PLAYWRIGHT_BROWSERS_PATH: 0
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      # - uses: google/wireit@setup-github-actions-caching/v2
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.2.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 10.26.0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # - name: Test exports
      #   run: npm run test:exports

      - name: Unit tests
        run: pnpm exec tsc --noEmit && pnpm exec vitest --run --coverage
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        continue-on-error: true
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage-reports/lcov.info

  build:
    name: build
    needs: [ installtest ]
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    env:
      HUSKY: 0
      PLAYWRIGHT_BROWSERS_PATH: 0
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.2.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 10.26.0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: build packages
        run: pnpm cross-env TEST=true pnpm run build:packages

      - name: Cache dependencies
        id: cache
        uses: actions/cache/save@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.1.2
        if: always()
        with:
          path: |
            ./dist
            **/dist
            **/package.json
            ./package.json
            **/build
            **/.next
          key: modules-2-${{ github.sha }}-${{ github.run_id }}

  testint:
    needs: [ build ]
    name: testint
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [ 1, 2, 3 ]
        shardTotal: [ 3 ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.2.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 10.26.0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile && pnpm exec playwright install --with-deps

      - uses: actions/cache/restore@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.1.2
        id: cache
        with:
          path: |
            ./dist
            **/dist
            **/package.json
            ./package.json
            **/build
            **/.next
          key: modules-2-${{ github.sha }}-${{ github.run_id }}

      - name: Run Playwright tests
        run: |
          pnpm run start:ci & \
          pnpm wait-on -t 3m http://localhost:3001 && \
          HOME=/root pnpm exec playwright test --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.4.3
        if: always()
        with:
          name: blob-report-${{ matrix.shardIndex }}
          path: blob-report
          retention-days: 5

  merge-reports:
    # Merge reports after playwright-tests
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    needs: [ testint ]

    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.2.2
      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 10.26.0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Download blob reports from GitHub Actions Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          path: all-blob-reports
          pattern: blob-report-*
          merge-multiple: true

      - name: Merge into HTML Report
        run: pnpm playwright merge-reports --reporter html ./all-blob-reports

      - name: Upload HTML report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.4.3
        with:
          name: html-report--attempt-${{ github.run_attempt }}
          path: playwright-report
          retention-days: 14

  release:
    name: release
    needs: [ testint ]
    if: github.ref == 'refs/heads/master'
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.2.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 10.26.0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - uses: actions/cache/restore@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.1.2
        id: cache
        with:
          path: |
            ./dist
            **/dist
            **/package.json
            ./package.json
            **/build
            **/.next
          key: modules-2-${{ github.sha }}-${{ github.run_id }}

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: pnpm audit signatures
      # - name: Debug
      #   run: echo `pwd` && echo `ls -a`

      - name: git config
        run: git config --global --add safe.directory /__w/state-in-url/state-in-url
      - name: Initialize Git user
        run: |
          git config --global user.email "github-release-bot@example.com"
          git config --global user.name "Release Workflow"
      - name: Initialise the NPM config
        run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm exec semantic-release
